/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px;
}
.debug{
    border: 1px solid black;
}
.clearfix:after{
    content: '';
    display:table;
    clear: both;
}
.btn{
    display: inline-block;
    padding: 5px 10px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
}
.btn-white{
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.box{
    width: 70%;
    margin: 0 auto;
    margin-bottom:5%;
}
.circle{
    display:inline-block;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50%
}
.blue-circle{
    border: 4px solid #0061FF;
}
.white-circle{
    margin-left: 1%;
}
.checkbox{
    margin-bottom:30px;
}
.line{
    width: 15%;
}

/* header */
header{
    width: 100%;
}
nav{
    position: fixed;
    z-index: 2000;
}
ul{
    display: inline-block;
}
ul a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding-left: 25px;
}
.nav-bar{
    width: 100%;
    background-color: white;
    padding:2%;
}
.logo{
    position: absolute;
    top:30%;
    left: 1%;
}
.nav-left{
    float: left;
    padding-left:9%;
}
.submenu{
    display:none;
    color: black;
    background-color: white;
}
.nav-left:hover + .submenu{
    display: block;
}
.nav-right{
    float: right;
    padding-right:6%;
}
li{
    display: inline-block;
    vertical-align: middle;
}
#inizia{
    position: absolute;
    top:30%;
    right:1%;
}
#inizia a{
    text-align: center;
    line-height: 30px;
}
#inizia a:hover{
    background-color: #007fff;
}
.jumbotron{
    padding: 6% 0 6%;
    background-color: rgba(180,208,231,255);
}
.container h1{
    padding:5% 0 2%;
    font-size: 55px;
}
p{
    width: 30%;
    padding: 2% 0 3%;
}
.container .fa-solid{
    font-size:50px;
}
.jumbotron img{
    width:55%;
    float: right;
    position: absolute;
    top:70%;
    right:10%;
}

/* main */
.box h2{
    font-size: 30px;
    padding: 20% 0 5%;
}
.col{
    width: 30%;
    float: left;
    font-size: 12px;
    margin: 0 auto;
}
.col-center{
    width: 30%;
    margin-left: 5%;
    margin-right:5%;
    float: left;
}
.plan{
    font-size: 15px;
    text-align: center;
    padding:30% 37%;
    color:#656565;
}
.plan .fa-solid{
    font-size:15px;
}
.price{
    font-weight: bold;
}
.month{
    color: #74828e;
}
.fa-solid{
    font-size:10px;
}
li .fa-solid{
    color: blue;
    font-size: 15px;
    font-weight:bold;
}
.text-left{
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    padding:10px 2px 62px;
    font-size: 12px;
}
.text{
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    padding:10px 2px 30px;
    font-size: 12px;
}
.col-down{
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.right{
    float: right;
    position: absolute;
    top: 35%;
    right: 4%;
}
.col-down h3{
    padding:2% 0 1%;
}
.col-down p{
    display: inline;
    font-size: 12px;
}
.plan2{
    font-size: 15px;
    text-align: center;
    color:#656565;
    padding:5% 47%;
}
.partner{
    width: 70%;
    margin: 0 auto;
    padding: 10% 0;
    position:relative;
}
.partner img {
    width:50%;
    float:left;
    padding-right:40px;
}
.partner h3{
    padding-top: 20px;
}
.partner p {
    width: 90%;
    padding-top: 15px;
}
.operation{
    width: 70%;
    margin: 0 auto;
}
.box1{
    width: calc(100% / 3);
    float: left;
}
.box1 img {
    width:95%;
    padding-top:10%;
}
.box1 p{
    width:95%;
    padding: 5% 0 30%;
}
.dropbox{
    text-decoration: underline;
}
.business h2{
    font-size: 30px;
    padding-bottom: 20px;
}
/* section row */
.row{
    margin-top: 30px;
    width: 100%;
    position: relative;
}
.design{
    background-color: #a2d39b;
    fill: #fefffe;
    padding: 40px;
}
.arizona{
    background-color: #61082b;
    fill: #fefffe;
    padding: 40px;
    position: absolute;
    top: 0;
}
.florida{
    /* background-color:#ffbc40; */
    background-color: #f13600;
    padding:65px 0px;
    position: absolute;
    top: 180px;
    left: 0;
    filter: invert(1);
}
.tops{
    background-color: #0bffd8;
    fill: #fefffe;
    padding: 40px;
    position: absolute;
    top: 180px;
    left: 180px;
    filter: invert(1);
}
.row-center{
    width:43%;
    display: inline;
    float: left;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    left:360px;
    overflow-y: auto;
}
.row-center img{
    padding:5%;
    width: 30%;
}
.row-center p{
    width: 100%;
    padding:6% 5%;
}
.row-right{
    display: inline;
    float:right;
    position: absolute;
    top:0;
    right:10%;
}
.world{
    background-color: #38d8ff;
    padding: 40px;
    position: absolute;
    top: 0;
    right:53px;
    filter: invert(1);
}
.hearst{
    background-color:#b4d0e7;
    padding: 40px;
    position: absolute;
    fill: #fefffe;
    top: 0;
    right:-126px;
}
.planet{
    background-color: #0d2481;
    padding: 40px;
    position: absolute;
    fill: #fefffe;
    top: 180px;
    right: 53px;
}
.channel{
    width: 180px;
    height: 180px;
    background-color: #ffd830;
    fill: #fefffe;
    padding: 30px;
    position: absolute;
    top: 180px;
    right: -126px;
}
/* Sesta sezione  */
.try{
    margin-top:175px;
    width: 100%;
    background-color: rgba(180,208,231,255);
    position: relative;
    padding: 6% 20%;
}
.try h2{
    color: #6c2446;
}
.try a{
    display: inline;
    float: right;
    position: absolute;
    top:40%;
    right: 25%;
}
/* settima sezione  */
.question{
    width: 70%;
    margin: 0 auto;
    padding-bottom:100px;
}
.question p{
    display: none;
    width: 100%;
    color: #74828e;
    font-size: 13px;
}
span:hover + p {
    display: block;
  }
.question h5{
    padding:80px 0 30px;
    font-size: 25px;
}
.question span{
    line-height: 80px;
    font-weight: bold;
    cursor: pointer;
}
.question .fa-solid{
    font-size: 20px;
    padding-left:180px;
}
/* footer */
footer{
    width:100%;
    background-color: black;
}
.list{
    width: 90%;
    margin: 0 auto;
    color: white;
    display: inline;
}

h6{
    font-size: 20px;
    padding-bottom: 5px;
}
.list ul{
    padding: 85px 0 85px 85px;
    font-size: 12px;
    line-height: 20px;
}
.rule{
    width: 9%;
    color: #383838;
    margin-left:85px;
}
.ita{
    color: #585858;
    padding-left:85px;
    font-size: 12px;
}
.ita .fa-solid{
    font-size: 15px;
    color: white;
    padding:40px 0px;
}
.ita :nth-child(2){
    font-size: 10px;
    color: #585858;
}
