/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px;
}
.debug{
    border: 1px solid black;
}
.clearfix:after{
    content: '';
    display:table;
    clear: both;
}
.btn{
    display: inline-block;
    padding: 5px 10px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
}
.btn-white{
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.box{
    width: 70%;
    margin: 0 auto;
    margin-bottom:5%;
}
.circle{
    display:block;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%
  }

/* header */
header{
    width: 100%;
}
nav{
    position: fixed;
    z-index: 2000;
}
ul{
    display: inline-block;
}
ul a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding-left: 25px;
}
.nav-bar{
    width: 100%;
    background-color: white;
    padding:2%;
}
.logo{
    position: absolute;
    top:30%;
    left: 1%;
}
.nav-left{
    float: left;
    padding-left:9%;
}
.nav-right{
    float: right;
    padding-right:6%;
}
li{
    display: inline-block;
    vertical-align: middle;
}
#inizia{
    position: absolute;
    top:30%;
    right:1%;
}
#inizia a{
    text-align: center;
    line-height: 30px;
}
.jumbotron{
    padding: 6% 0 6%;
    background-color: rgba(180,208,231,255);
}
.container h1{
    padding:5% 0 2%;
    font-size: 55px;
}
p{
    width: 30%;
    padding: 2% 0 3%;
}
.fa-solid{
    font-size:50px;
}
.jumbotron img{
    width:55%;
    float: right;
    position: absolute;
    top:70%;
    right:10%;
}

/* main */
.box h2{
    font-size: 30px;
    padding: 20% 0 5%;
}
.col{
    width: 30%;
    float: left;
    font-size: 12px;
    margin: 0 auto;
}
.col-center{
    width: 30%;
    margin-left: 5%;
    margin-right:5%;
    float: left;
}
.plan{
    font-size: 15px;
    text-align: center;
    padding:30% 37%;
    color:#656565;
}
.plan .fa-solid{
    font-size:15px;
}
.price{
    font-weight: bold;
}
.month{
    color: #74828e;
}
.fa-solid{
    font-size:10px;
}
li .fa-solid{
    color: blue;
    font-size: 15px;
    font-weight:bold;
}
.text-left{
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    padding:10px 2px 62px;
    font-size: 12px;
}
.text{
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    padding:10px 2px 30px;
    font-size: 12px;
}
.col-down{
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.right{
    float: right;
    position: absolute;
    top: 35%;
    right: 4%;
}
.col-down h3{
    padding:2% 0 1%;
}
.col-down p{
    display: inline;
    font-size: 12px;
}
.plan2{
    font-size: 15px;
    text-align: center;
    color:#656565;
    padding:5% 47%;
}
.partner{
    width: 70%;
    margin: 0 auto;
    padding: 10% 0;
    position:relative;
}
.partner img {
    width:50%;
    float:left;
    padding-right:40px;
}
.partner h3{
    padding-top: 20px;
}
.partner p {
    width: 90%;
    padding-top: 15px;
}
.operation{
    width: 70%;
    margin: 0 auto;
}
.box1{
    width: calc(100% / 3);
    float: left;
}
.box1 img {
    width:95%;
    padding-top:10%;
}
.box1 p{
    width:95%;
    padding: 5% 0 30%;
}
.dropbox{
    text-decoration: underline;
}
.business h2{
    font-size: 30px;
    padding-bottom: 20px;
}

